apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: collect-somatic-data-templates
spec:
  templates:
    - name: collect-somatic-data
      inputs:
        parameters:
          - name: sample-id # not Uuid but user defined String value.
          - name: run-id
          - name: duckdb-file
          - name: msisensorpro-in-f
          - name: tmb-output-dir
          - name: snv-regions-bed-f
      dag:
        tasks:
          - name: collect-tmb-data
            templateRef:
              name: collect-tmb-data-template
              template: collect-tmb-data
            arguments:
              parameters:
                - name: run-id
                  value: "{{inputs.parameters.run-id}}"
                - name: sample-id
                  value: "{{inputs.parameters.sample-id}}"
                - name: duckdb-file
                  value: "{{inputs.parameters.duckdb-file}}"
                - name: target-bed-file
                  value: "{{inputs.parameters.snv-regions-bed-f}}"
                - name: output-dir
                  value: "{{inputs.parameters.tmb-output-dir}}"
          - name: collect-msi-data
            template: collect-msi-data
            arguments:
              parameters:
                - name: run-id
                  value: "{{inputs.parameters.run-id}}"
                - name: sample-id
                  value: "{{inputs.parameters.sample-id}}"
                - name: msisensorpro-in-f
                  value: "{{inputs.parameters.msisensorpro-in-f}}"
    - name: collect-msi-data
      inputs:
        parameters:
          - name: run-id
          - name: sample-id # not Uuid but user defined String value.
          - name: msisensorpro-in-f
      volumes:
        - name: msisensorpro-in-f
          hostPath:
            path: "{{inputs.parameters.msisensorpro-in-f}}"
            type: File
      script:
        name: "collect-msi-data"
        image: demisto/pandas:1.0.0.80782
        # includes 'requests' package
        workingDir: /mnt/input/
        volumeMounts:
          - name: msisensorpro-in-f
            mountPath: /mnt/input/{{=sprig.osBase(inputs.parameters['msisensorpro-in-f'])}}
        command: [python]
        source: |
          import pandas as pd
          import os, requests

          # cluster info
          token = os.environ["GENNEXT_CLUSTER_TOKEN"]
          addr = "gennext-backend.gennext-prod.svc.cluster.local:3030"
          url = f"http://{addr}/api/v0/runs/{{inputs.parameters.run-id}}/somatic"

          # collect input data
          sample_id = "{{inputs.parameters.sample-id}}"
          msisensorpro_in_f = "/mnt/input/{{=sprig.osBase(inputs.parameters['msisensorpro-in-f'])}}"

          # collect msisensor data
          msi_data_df = pd.read_csv(msisensorpro_in_f, sep="\t")
          msi_data_dict = msi_data_df.to_dict(orient="list")

          for key in msi_data_dict:
              msi_data_dict[key] = msi_data_dict[key][0]


          msi_data = {
            "msiTotalNumberOfSites": int(msi_data_dict["Total_Number_of_Sites"]),
            "msiNumberOfSomaticSites": int(msi_data_dict["Number_of_Somatic_Sites"]),
            "msiPercentage": str(f'{float(msi_data_dict["%"]):.2f}'),
            "msiValue": str(f'{(float(msi_data_dict["%"]) / 100):.3f}'),
            }

          print(msi_data)
          payload = {"runId": "{{inputs.parameters.run-id}}", "sampleId": "{{inputs.parameters.sample-id}}", "somaticData": msi_data, "token": token }

          res = requests.post(url, json=payload)

          if res.status_code != 200:
              raise Exception(f"Failed to post data: {res.status_code} - {res.text}")
        env:
          - name: GENNEXT_CLUSTER_TOKEN
            valueFrom:
              secretKeyRef:
                name: gennext-cluster-secrets
                key: gennext_cluster_token
    - name: collect-msi-data-v2
      inputs:
        parameters:
          - name: run-id
          - name: sample-id # not Uuid but user defined String value.
          - name: msisensorpro-in-json
      volumes:
        - name: msisensorpro-in-json
          hostPath:
            path: "{{inputs.parameters.msisensorpro-in-json}}"
            type: File
      script:
        name: "collect-msi-data"
        image: demisto/pandas:1.0.0.80782
        workingDir: /mnt/input/
        volumeMounts:
          - name: msisensorpro-in-json
            mountPath: /mnt/input/{{=sprig.osBase(inputs.parameters['msisensorpro-in-json'])}}
        command: [python]
        source: |
          import json
          import os, requests

          # cluster info
          token = os.environ["GENNEXT_CLUSTER_TOKEN"]
          addr = "gennext-backend.gennext-prod.svc.cluster.local:3030"
          url = f"http://{addr}/api/v0/runs/{{inputs.parameters.run-id}}/somatic"

          # collect input data
          sample_id = "{{inputs.parameters.sample-id}}"
          msisensorpro_in_json = "/mnt/input/{{=sprig.osBase(inputs.parameters['msisensorpro-in-json'])}}"

          # Load MSI data from JSON file
          with open(msisensorpro_in_json, 'r') as f:
              json_data = json.load(f)

          # Extract MSI data from the JSON structure
          msi_info = json_data.get("MSI", {})
          total_sites = msi_info.get("Total Number of Sites", 0)
          unstable_sites = msi_info.get("Unstable Sites", 0)
          msi_percentage_decimal = msi_info.get("MSI Percentage", 0.0)

          # Format MSI data for API
          msi_data = {
            "msiTotalNumberOfSites": int(total_sites),
            "msiNumberOfSomaticSites": int(unstable_sites),
            "msiPercentage": str(f'{msi_percentage_decimal * 100:.2f}'),
            "msiValue": str(f'{msi_percentage_decimal:.3f}'),
            }

          print(msi_data)
          payload = {"runId": "{{inputs.parameters.run-id}}", "sampleId": "{{inputs.parameters.sample-id}}", "somaticData": msi_data, "token": token }

          res = requests.post(url, json=payload)

          if res.status_code != 200:
              raise Exception(f"Failed to post data: {res.status_code} - {res.text}")
        env:
          - name: GENNEXT_CLUSTER_TOKEN
            valueFrom:
              secretKeyRef:
                name: gennext-cluster-secrets
                key: gennext_cluster_token
    - name: collect-hrd-data
      inputs:
        parameters:
          - name: run-id
          - name: sample-id
          - name: hrd-json-f
      volumes:
        - name: hrd-json-f
          hostPath:
            path: "{{inputs.parameters.hrd-json-f}}"
            type: File
      script:
        name: "collect-hrd-data"
        image: demisto/pandas:1.0.0.80782
        workingDir: /mnt/input/
        volumeMounts:
          - name: hrd-json-f
            mountPath: /mnt/input/{{=sprig.osBase(inputs.parameters['hrd-json-f'])}}
        command: [python]
        source: |
          import json
          import os, requests

          # cluster info
          token = os.environ["GENNEXT_CLUSTER_TOKEN"]
          addr = "gennext-backend.gennext-prod.svc.cluster.local:3030"
          url = f"http://{addr}/api/v0/runs/{{inputs.parameters.run-id}}/somatic"

          # collect input data
          sample_id = "{{inputs.parameters.sample-id}}"
          hrd_json_f = "/mnt/input/{{=sprig.osBase(inputs.parameters['hrd-json-f'])}}"

          # Load HRD data from JSON file
          with open(hrd_json_f, 'r') as f:
              hrd_data_raw = json.load(f)

          # Map HRD fields (cast floats to int)
          hrd_data = {
            "hrdValue": int(hrd_data_raw["HRD"]),
            "hrdTelomericAi": int(hrd_data_raw["Telomeric_AI"]),
            "hrdLst": int(hrd_data_raw["LST"]),
            "hrdSum": int(hrd_data_raw["HRD_sum"]),
            }

          print(hrd_data)
          payload = {"runId": "{{inputs.parameters.run-id}}", "sampleId": "{{inputs.parameters.sample-id}}", "somaticData": hrd_data, "token": token }

          res = requests.post(url, json=payload)

          if res.status_code != 200:
              raise Exception(f"Failed to post data: {res.status_code} - {res.text}")
        env:
          - name: GENNEXT_CLUSTER_TOKEN
            valueFrom:
              secretKeyRef:
                name: gennext-cluster-secrets
                key: gennext_cluster_token
    - name: collect-somatic-data-on-node
      nodeSelector:
        kubernetes.io/hostname: "{{inputs.parameters.node-name}}"
      inputs:
        parameters:
          - name: sample-id # not Uuid but user defined String value.
          - name: run-id
          - name: duckdb-file
          - name: snv-regions-bed-f
          - name: tmb-output-dir
          - name: msisensorpro-in-f
          - name: node-name
      dag:
        tasks:
          - name: collect-tmb-data
            templateRef:
              name: collect-tmb-data-template
              template: collect-tmb-data
            arguments:
              parameters:
                - name: run-id
                  value: "{{inputs.parameters.run-id}}"
                - name: sample-id
                  value: "{{inputs.parameters.sample-id}}"
                - name: duckdb-file
                  value: "{{inputs.parameters.duckdb-file}}"
                - name: output-dir
                  value: "{{inputs.parameters.tmb-output-dir}}"
                - name: target-bed-file
                  value: "{{inputs.parameters.snv-regions-bed-f}}"
          - name: collect-msi-data
            template: collect-msi-data-v2
            arguments:
              parameters:
                - name: run-id
                  value: "{{inputs.parameters.run-id}}"
                - name: sample-id
                  value: "{{inputs.parameters.sample-id}}"
                - name: msisensorpro-in-json
                  value: "{{inputs.parameters.msisensorpro-in-f}}"
