apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: gennext-prs-matcher-template
spec:
  templates:
    - name: gennext-prs-matcher
      # nodeSelector:
      #   kubernetes.io/hostname: "{{inputs.parameters.node-name}}"
      inputs:
        parameters:
          - name: input-genotype-file
          - name: ref-pgs-folder
          # - name: ref-pgs-metadata
          # - name: thread-count
          # - name: output-json-folder
          - name: output-dbs-folder
          - name: batch-workers-count
            value: "4"
          - name: pgs-workers-count
            value: "8"
          - name: batch-size
            value: "100000"
      outputs:
        parameters:
          - name: output-dbs-folder
            value: "{{inputs.parameters.output-dbs-folder}}"
          # - name: output-json-folder
          #   value: "{{inputs.parameters.output-json-folder}}"
      volumes:
        - name: input-genotype-file
          hostPath:
            path: "{{inputs.parameters.input-genotype-file}}"
            type: File
        - name: ref-pgs-folder
          hostPath:
            path: "{{inputs.parameters.ref-pgs-folder}}"
            type: Directory
        # - name: ref-pgs-metadata
        #   hostPath:
        #     path: "{{inputs.parameters.ref-pgs-metadata}}"
        #     type: File
        - name: output-dbs-folder
          hostPath:
            path: "{{inputs.parameters.output-dbs-folder}}"
            type: DirectoryOrCreate
        # - name: output-json-folder
        #   hostPath:
        #     path: "{{inputs.parameters.output-json-folder}}"
        #     type: DirectoryOrCreate
      script:
        name: "gennext-prs-matcher-script"
        image: bergun/gennext-prs-matcher:v0.2.5c
        command: [sh]
        source: |
          gennext-prs \
          -g /mnt/input/{{=sprig.osBase(inputs.parameters['input-genotype-file'])}} \
          -p /mnt/ref/pgs/ \
          -o /mnt/output/dbs/ \
          --batch-size {{inputs.parameters.batch-size}} \
          --batch-workers {{inputs.parameters.batch-workers-count}} \
          --pgs-workers {{inputs.parameters.pgs-workers-count}} \
          --weight-type-beta;

          echo "Cleaning PRS data...";

          find "/mnt/output/dbs/" -type f | grep "\.sqlite$" > /tmp/sqlite_files.txt

          while read db_file; do
            echo "Querying $db_file:"

            # Run the query and check if the result is empty
            result=$(sqlite3 "$db_file" "SELECT prs FROM results;")

            if [ -z "$result" ]; then
              echo "No data found. Removing $db_file."
              rm "$db_file"
            else
              echo "Result: $result"
            fi
          done < /tmp/sqlite_files.txt
        volumeMounts:
          - name: input-genotype-file
            mountPath: "/mnt/input/{{=sprig.osBase(inputs.parameters['input-genotype-file'])}}"
          - name: ref-pgs-folder
            mountPath: "/mnt/ref/pgs/"
          # - name: ref-pgs-metadata
          #   mountPath: "/mnt/ref/meta/{{=sprig.osBase(inputs.parameters['ref-pgs-metadata'])}}"
          - name: output-dbs-folder
            mountPath: "/mnt/output/dbs/"
          # - name: output-json-folder
          #   mountPath: "/mnt/output/json/"
    - name: gennext-prs-matcher-on-node
      nodeSelector:
        kubernetes.io/hostname: "{{inputs.parameters.node-name}}"
      inputs:
        parameters:
          - name: input-genotype-file
          - name: ref-pgs-folder
          # - name: ref-pgs-metadata
          # - name: thread-count
          # - name: output-json-folder
          - name: output-dbs-folder
          - name: batch-workers-count
            value: "4"
          - name: pgs-workers-count
            value: "8"
          - name: node-name
      outputs:
        parameters:
          - name: output-dbs-folder
            value: "{{inputs.parameters.output-dbs-folder}}"
          # - name: output-json-folder
          #   value: "{{inputs.parameters.output-json-folder}}"
      volumes:
        - name: input-genotype-file
          hostPath:
            path: "{{inputs.parameters.input-genotype-file}}"
            type: File
        - name: ref-pgs-folder
          hostPath:
            path: "{{inputs.parameters.ref-pgs-folder}}"
            type: Directory
        # - name: ref-pgs-metadata
        #   hostPath:
        #     path: "{{inputs.parameters.ref-pgs-metadata}}"
        #     type: File
        - name: output-dbs-folder
          hostPath:
            path: "{{inputs.parameters.output-dbs-folder}}"
            type: DirectoryOrCreate
        # - name: output-json-folder
        #   hostPath:
        #     path: "{{inputs.parameters.output-json-folder}}"
        #     type: DirectoryOrCreate
      script:
        name: "gennext-prs-script"
        image: bergun/gennext-prs-matcher:v0.2.5b
        command: [sh]
        source: |
          PRODUCT_ID=$(basename "{{=sprig.osBase(inputs.parameters['input-genotype-file'])}}" .tsv);
          DB_FOLDER="/mnt/output/dbs/$PRODUCT_ID/";

          mkdir -p /mnt/output/dbs/$(basename "{{=sprig.osBase(inputs.parameters['input-genotype-file'])}}" .tsv)/ &&
          gennext-prs \
          -g /mnt/input/{{=sprig.osBase(inputs.parameters['input-genotype-file'])}} \
          -p /mnt/ref/pgs/ \
          -o $DB_FOLDER \
          --batch-size 100000 \
          --batch-workers {{inputs.parameters.batch-workers-count}} \
          --pgs-workers {{inputs.parameters.pgs-workers-count}} \
          --weight-type-beta;

          echo "Cleaning PRS data...";

          find "$DB_FOLDER" -type f | grep "\.sqlite$" > /tmp/sqlite_files.txt

          while read db_file; do
            echo "Querying $db_file:"

            # Run the query and check if the result is empty
            result=$(sqlite3 "$db_file" "SELECT prs FROM results;")

            if [ -z "$result" ]; then
              echo "No data found. Removing $db_file."
              rm "$db_file"
            else
              echo "Result: $result"
            fi
          done < /tmp/sqlite_files.txt

          mv $DB_FOLDER/* $DB_FOLDER/../
        volumeMounts:
          - name: input-genotype-file
            mountPath: "/mnt/input/{{=sprig.osBase(inputs.parameters['input-genotype-file'])}}"
          - name: ref-pgs-folder
            mountPath: "/mnt/ref/pgs/"
          # - name: ref-pgs-metadata
          #   mountPath: "/mnt/ref/meta/{{=sprig.osBase(inputs.parameters['ref-pgs-metadata'])}}"
          - name: output-dbs-folder
            mountPath: "/mnt/output/dbs/"
          # - name: output-json-folder
          #   mountPath: "/mnt/output/json/"
