apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: star-fusion-template
spec:
  templates:
    - name: star-fusion
      inputs:
        parameters:
          - name: sample-id
          - name: read-group-str
          - name: fq-r1
          - name: fq-r2
            value: ""
          - name: ctat-genome-lib-build-dir
          - name: output-bam
          - name: output-fusions-tsv
          - name: output-chimeric-out-fusions
          - name: scratch-dir
          - name: thread-count
      outputs:
        parameters:
          - name: output-bam
            value: "{{inputs.parameters.output-bam}}"
          - name: output-fusions-tsv
            value: "{{inputs.parameters.output-fusions-tsv}}"
          - name: output-chimeric-out-fusions
            value: "{{inputs.parameters.output-chimeric-out-fusions}}"
      volumes:
        - name: fq-r1
          hostPath:
            path: "{{inputs.parameters.fq-r1}}"
            type: File
        - name: fq-r2
          hostPath:
            path: "{{inputs.parameters.fq-r2}}"
            type: File
        - name: output-bam
          hostPath:
            path: "{{=sprig.osDir(inputs.parameters['output-bam'])}}"
            type: DirectoryOrCreate
        - name: scratch-dir
          hostPath:
            path: "{{=sprig.osDir(inputs.parameters['scratch-dir'])}}"
            type: DirectoryOrCreate
        - name: output-fusions-tsv
          hostPath:
            path: "{{=sprig.osDir(inputs.parameters['output-fusions-tsv'])}}"
            type: DirectoryOrCreate
        - name: output-chimeric-out-fusions
          hostPath:
            path: "{{=sprig.osDir(inputs.parameters['output-chimeric-out-fusions'])}}"
            type: DirectoryOrCreate
        - name: ctat-genome-lib-build-dir
          hostPath:
            path: "{{inputs.parameters.ctat-genome-lib-build-dir}}"
            type: Directory
      script:
        name: "star-fusion"
        image: trinityctat/starfusion
        command: [sh]
        source: |
          fqR1="{{=sprig.osBase(inputs.parameters['fq-r1'])}}";
          fqR2="{{=sprig.osBase(inputs.parameters['fq-r2'])}}";
          FUSION_OUT_DIR="/mnt/output/fusions"
          FUSION_OUT_FILE="$FUSION_OUT_DIR/{{=sprig.osBase(inputs.parameters['output-fusions-tsv'])}}"
          BAM_OUT_DIR="/mnt/output/bam"
          BAM_OUT_FILE="$BAM_OUT_DIR/{{=sprig.osBase(inputs.parameters['output-bam'])}}"
          CHIMERIC_OUT_DIR="/mnt/output/chimeric"
          CHIMERIC_OUT_FILE="$CHIMERIC_OUT_DIR/{{=sprig.osBase(inputs.parameters['output-chimeric-out-fusions'])}}"

          # Run STAR-Fusion
          STAR-Fusion \
          --genome_lib_dir /mnt/ref/ctat-lib/ \
          --left_fq /mnt/input/r1/$fqR1 \
          $(if [ ! -z "$fqR2" ]; then echo "--right_fq /mnt/input/r2/$fqR2"; fi) \
          --STAR_outSAMattrRGline "{{inputs.parameters.read-group-str}}" \
          --output_dir /mnt/scratch/ \
          --CPU {{inputs.parameters.thread-count}};

          # Handle BAM file
          if [ -f "/mnt/scratch/Aligned.out.bam" ]; then
            mv /mnt/scratch/Aligned.out.bam $BAM_OUT_FILE
          else
            echo "No BAM file was generated"
          fi

          # Handle fusion predictions file
          if [ -f "/mnt/scratch/star-fusion.fusion_predictions.tsv" ]; then
            mv /mnt/scratch/star-fusion.fusion_predictions.tsv $FUSION_OUT_FILE
          else
            # Create empty fusion file with header if not generated
            echo -e "#FusionName\tJunctionReadCount\tSpanningFragCount\test_J\test_S\tSpliceType\tLeftGene\tLeftBreakpoint\tRightGene\tRightBreakpoint\tJunctionReads\tSpanningFrags\tLargeAnchorSupport\tFFPM\tLeftBreakDinuc\tLeftBreakEntropy\tRightBreakDinuc\tRightBreakEntropy\tannots" > $FUSION_OUT_FILE
            echo "Created empty fusion file with header at $FUSION_OUT_FILE"
          fi

          # Handle chimeric junction file
          if [ -f "/mnt/scratch/Chimeric.out.junction" ]; then
            mv /mnt/scratch/Chimeric.out.junction $CHIMERIC_OUT_FILE
          else
            # Create empty chimeric file with header
            echo -e "chr_donorA\tbrkpt_donorA\tstrand_donorA\tchr_acceptorB\tbrkpt_acceptorB\tstrand_acceptorB\tjunction_type\trepeat_left_lenA\trepeat_right_lenB\tread_name\tstart_alnA\tcigar_alnA\tstart_alnB\tcigar_alnB\tnum_chim_aln\tmax_poss_aln_score\tnon_chim_aln_score\tthis_chim_aln_score\tbestall_chim_aln_score\tPEmerged_bool\treadgrp" > $CHIMERIC_OUT_FILE
            echo "Created empty chimeric junctions file with header at $CHIMERIC_OUT_FILE"
          fi
        volumeMounts:
          - name: fq-r1
            mountPath: "/mnt/input/r1/{{=sprig.osBase(inputs.parameters['fq-r1'])}}"
          - name: fq-r2
            mountPath: "/mnt/input/r2/{{=sprig.osBase(inputs.parameters['fq-r2'])}}"
          - name: output-bam
            mountPath: "/mnt/output/bam/"
          - name: output-fusions-tsv
            mountPath: "/mnt/output/fusions/"
          - name: output-chimeric-out-fusions
            mountPath: "/mnt/output/chimeric/"
          - name: scratch-dir
            mountPath: "/mnt/scratch/"
          - name: ctat-genome-lib-build-dir
            mountPath: "/mnt/ref/ctat-lib/"